*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

form{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    background: #4A628A;
}
.container a{
    color: black;
}

form h2{
    text-align: center;
    margin-bottom: 20px;
}
.container input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}
form{
    padding: 30px 20px;
    width: 320px;
}
.container_but input{
    width: 100%;
    padding: 12px;
    background-color: #66a6ff;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.container_but input:hover{
    background-color: #557ac7;
}
.container_rem  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 15px;

}
.container_rem a{
    margin: 10px;
    color: black;
    display: inline-block;
}
.container label{
    font-size: 20px;
}
.container select {
    width: 100%;
      padding: 8px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
}

